@page
@model SE1611_Group3_A3.Pages.Shopping.IndexModel
@{
    ViewData["Title"] = "Shopping";
}

<div style="margin: 20px 0 0 0;">
    <h1>Shopping</h1>
    <div>
        <div style="display: flex;">
            Genre name:
            <select>
                <option>---All---</option>
                @foreach (var genre in Model.genres)
                {
                    <option>@genre.Name</option>
                }
            </select>&nbsp;
            <form>
                Find by name:<input type="text" />
                <button class="bg-primary text-white">Search</button>&nbsp;|&nbsp;<a href="">Back to full list</a>
            </form>
        </div>
    </div>
    <div style="display: flex;justify-content: space-around;margin-top: 20px;max-width: 50%;">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBnLImDOJCdoU0_RjcDFsuFyRyCw0P7Sqiow&usqp=CAU"
                 style="width: 150px;height: 100px;">
            <p>$8.99</p>
            <p>Peter Pan</p>
            <p>Artist: Thanh Pham</p>
            <p>Genre: Rock</p>
            <button class="bg-primary text-white">Add to cart</button>
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBnLImDOJCdoU0_RjcDFsuFyRyCw0P7Sqiow&usqp=CAU"
                 style="width: 150px;height: 100px;">
            <p>$8.99</p>
            <p>Peter Pan</p>
            <p>Artist: Thanh Pham</p>
            <p>Genre: Rock</p>
            <button class="bg-primary text-white">Add to cart</button>
        </div>
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBnLImDOJCdoU0_RjcDFsuFyRyCw0P7Sqiow&usqp=CAU"
                 style="width: 150px;height: 100px;">
            <p>$8.99</p>
            <p>Peter Pan</p>
            <p>Artist: Thanh Pham</p>
            <p>Genre: Rock</p>
            <button class="bg-primary text-white">Add to cart</button>
        </div>
    </div>
    <div style="margin-top: 50px;">
        <button class="bg-primary text-white">Previous</button>
        <button class="bg-primary text-white">Next</button>
        Page:2/40
    </div>
</div>